<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Dayat & Ela Wedding Invitation</title>
    <style>
        @font-face {
            font-family: 'EasyNovember';
            src: url('./fonts/EasyNovember.ttf')  format('truetype');
        }
        body {
            background-color: #eee;
        }
        .c-container {
            height: 400x;
            width: 200px;
            position: absolute;
            top: -200px;
            right: -100px;
        }
        .centered-text {
            text-align: center !important;
        }
        .border-left-right {
            border-right: 1px solid #ccc;
            border-left: 1px solid #ccc;
        }
        .time-info {
            margin-top: 32px;
        }
        .time-info p {
            font-family: 'Raleway';
        }
        .names {
            font-family: "EasyNovember"
        }
        .info {
            margin-bottom: 8px;
        }
        .card {
            background-image: url('./img/leaf.png'), url('./img/leaf2.png');
            background-size: 150px;
            background-color: #fff;
            background-position: 20px 70px, right 20px top 70px;
            background-repeat: no-repeat;
            border-radius: 8px;
        }
    </style>
</head>
<body>
    <div class='container' id="app">
        <div class="row" style="margin-top: 32px">
            <div class="card col s12 l8 offset-l2">
                <div class="card-content" v-if="!invite">
                    <p>Maaf, kode yang anda masukkan salah.</p>
                </div>
                <div class="card-content" v-if="invite">
                    <p style="font-family: 'Raleway'">Hi <span style="font-weight: bold" id="to-name">{{ invite.name }}</span>,</p>
                    <div class="names" style="text-align: center; margin-top: 32px">
                        <p style="margin-left: -32px; font-size: 48px">Dayat</p>
                        <p style="font-family: 'Easy November'; font-size: 22px">&</p>
                        <p style="margin-left: 32px; font-size: 48px">Ela</p>
                    </div>
                    <div class="centered-text time-info" style="color:rgba(0,0,0,0.7); font-size: 16px">
                        <p>Together with their parents</p>
                        <p>invite you to celebrate their wedding.</p>
                    </div>
                    <div class="row time-info">
                        <div class="col info s12 l4 centered-text" style="font-size: 14px; color:rgba(0,0,0,0.7);">
                            <p>Akad</p>
                            <p>09.30am</p>
                        </div>
                        <div class="col info s12 l4 centered-text border-left-right" style="font-size: 18px">
                            <p>Ahad,</p>
                            <p>16 September 2018</p>
                        </div>
                        <div class="col info s12 l4 centered-text" style="font-size: 14px;color:rgba(0,0,0,0.7);">
                            <p>Resepsi</p>
                            <p>11.00am</p>
                        </div>
                        <div class="col s12 centered-text time-info">
                            <p>Jl. Ade Irma Suryani Gg.Panda 3 No.16, Monjok. Mataram</p>
                            <a style="margin-top: 8px" href="https://www.google.com/maps/place/8%C2%B034'33.3%22S+116%C2%B007'23.1%22E/@-8.5762349,116.1211341,17z/data=!4m6!3m5!1s0x0:0x0!7e2!8m2!3d-8.5759217!4d116.1230758"
                                class="btn btn-small green lighten-2" target="_blank"><i class="material-icons left">location_on</i> Map</a>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                // https://www.uuidgenerator.net/
                invites: [
                    {id: '72fbe93a-b352-11e8-96f8-529269fb1459', name: 'Ivan'},
                    {id: '72fbec5a-b352-11e8-96f8-529269fb1459', name: 'Emeet'},
                    {id: '72fbf042-b352-11e8-96f8-529269fb1459', name: 'Maman'},
                    {id: '72fbf196-b352-11e8-96f8-529269fb1459', name: 'Doni'},
                    {id: '72fbf2c2-b352-11e8-96f8-529269fb1459', name: 'KPBI Rintam'},
                    {id: '72fbf3ee-b352-11e8-96f8-529269fb1459', name: 'Basmala Qalam'},
                    {id: '72fbf538-b352-11e8-96f8-529269fb1459', name: 'Pasukan Gorengan'},
                    {id: '72fbfb46-b352-11e8-96f8-529269fb1459', name: 'Yogi'},
                    {id: '72fbfe02-b352-11e8-96f8-529269fb1459', name: 'Mia'},
                    {id: '72fc00b4-b352-11e8-96f8-529269fb1459', name: 'Yuli'},
                    {id: '72fc0334-b352-11e8-96f8-529269fb1459', name: 'Trisno'},
                    {id: '72fc0582-b352-11e8-96f8-529269fb1459', name: 'Imam'},
                    {id: '72fc07bc-b352-11e8-96f8-529269fb1459', name: 'Udin dan Lara'},
                    {id: '72fc0a46-b352-11e8-96f8-529269fb1459', name: 'Hulaimi'},
                    {id: '72fc1004-b352-11e8-96f8-529269fb1459', name: 'Juned'},
                    {id: '72fc1266-b352-11e8-96f8-529269fb1459', name: 'ITEC Crew'},
                    {id: '72fc14b4-b352-11e8-96f8-529269fb1459', name: 'Fawaz and Ana'},
                    {id: '72fc18f6-b352-11e8-96f8-529269fb1459', name: 'Cimek'},
                    {id: '72fc1b4e-b352-11e8-96f8-529269fb1459', name: 'Isna'},
                    {id: '72fc1de2-b352-11e8-96f8-529269fb1459', name: 'Ata, Ina, Icha and Mama'},
                    {id: '72fc227e-b352-11e8-96f8-529269fb1459', name: 'Ajun'},
                    {id: '72fc2508-b352-11e8-96f8-529269fb1459', name: 'Liyan'},
                    {id: '72fc279c-b352-11e8-96f8-529269fb1459', name: 'Deni'},
                    {id: '72fc29fe-b352-11e8-96f8-529269fb1459', name: 'Imam'},
                    {id: '72fc2c7e-b352-11e8-96f8-529269fb1459', name: 'Kartarina'},
                    {id: '72fc323c-b352-11e8-96f8-529269fb1459', name: 'WINS'},
                    {id: '72fc36e2-b352-11e8-96f8-529269fb1459', name: 'Nizan'},
                    {id: '72fc40b0-b352-11e8-96f8-529269fb1459', name: 'Trisna, Tanti and Tiwi'},
                    {id: '72fc4330-b352-11e8-96f8-529269fb1459', name: 'Maysaroh'},
                    {id: '72fc45e2-b352-11e8-96f8-529269fb1459', name: 'Panji'},
                    {id: '72fc4830-b352-11e8-96f8-529269fb1459', name: 'Alin'},
                    {id: '72fc4d80-b352-11e8-96f8-529269fb1459', name: 'Humaidi'},
                    {id: '72fc5212-b352-11e8-96f8-529269fb1459', name: 'Hayi and family'},
                    {id: '72fc544c-b352-11e8-96f8-529269fb1459', name: 'Herpiko'},
                    {id: '72fc5686-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc58ca-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc5dfc-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc604a-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc627a-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc64aa-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc6720-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc6964-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc6f7c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc71c0-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc7404-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc765c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc7896-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc7ae4-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc8048-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc82b4-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc8502-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc873c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc8976-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc8bba-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc92f4-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc957e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc97b8-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc99e8-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc9c18-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fc9e2a-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fca320-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fca58c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fca7da-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcaa14-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcac4e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcae7e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcb0ae-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcb540-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcb798-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcba36-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcbc8e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcbf18-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcc490-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcc6fc-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcc940-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fccb7a-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fccdaa-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fccfda-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcd21e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcd746-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcd994-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fce33a-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fce81c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fcea7e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd159e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd1ae4-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd1d46-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd1f80-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd21ba-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd2412-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd264c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd2c0a-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd2ec6-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd311e-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd336c-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd35ba-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd37ea-b352-11e8-96f8-529269fb1459', name: ''},
                    {id: '72fd3d08-b352-11e8-96f8-529269fb1459', name: ''},
                ]
            },
            computed: {
                code: function() {
                    var uri = window.location.search.substring(1);
                    return uri.split('=')[1];
                },
                invite: function() {
                    var code = this.code;
                    return this.invites.find(function (i) {
                        return i.id == code
                    })
                }
            },
        })
    </script>
</body>
</html>
